.radios {
  padding: 10px 0;
}

.radiosLabel {
  padding-right: 20px;
  cursor: pointer;
  position: relative;
  color: #daa0a7;
}

.radiosContainer {
  position: relative;
  overflow-y: hidden;
  height: 50px;
  z-index: 11;
}

.radiosWrap {
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 15px;
}
